In [1]:
import  pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('guwahati_house_price.csv') 
data.head()

   Unnamed: 0 bhk  price  size         location
0           0   3  45.00  1500  CHRISTIAN BASTI
1           1   3  78.79  1751       LAL GANESH
2           2   2  31.50   750         BORAGAON
3           3   2  50.00  1100       BAGHARBARI
4           4   3  65.20  1630          BELTOLA

In [3]:
data.shape

(3411, 5)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3411 entries, 0 to 3410
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3411 non-null   int64
 1   bhk         3411 non-null   object
 2   price       3411 non-null   float64
 3   size        3411 non-null   int64
 4   location    3411 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 133.4+ KB

In [5]:
data.isnull().sum()

Unnamed: 0    0
bhk           0
price         0
size          0
location      0
dtype: int64

**There is not any null values present in the Dataset**

###  Different Types OF Features present in the dataset

In [6]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
data['bhk'].unique()

array(['3', '2', '4', '1', '6', '5', 'A', '8', '9', '7'], dtype=object)

In [8]:
# We have to find those non-numaric values , and convert them into Nan values .
data['bhk']=pd.to_numeric(data['bhk'],errors='coerce')

In [9]:
cat_features=[features for features in data.columns if data[features].dtype=='O']
print('Clategorical features are :',cat_features)

Clategorical features are : ['location']

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3411 entries, 0 to 3410
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bhk       3409 non-null   float64
 1   price     3411 non-null   float64
 2   size      3411 non-null   int64
 3   location  3411 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 106.7+ KB

In [11]:
num_features=[features for features in data.columns if data[features].dtype!='O']
print('Numerical features are :',num_features)

print('---------'*12)
print('length of Numerical features are :',len(num_features))

Numerical features are : ['bhk', 'price', 'size']
------------------------------------------------------------------------------------------------------------
length of Numerical features are : 3

In [12]:
data.isnull().sum()

bhk         2
price       0
size        0
location    0
dtype: int64

In [13]:
# Fill those Nan values by taking mode() .
data['bhk']=data['bhk'].fillna(data['bhk'].mode()[0])

In [14]:
data.describe()

               bhk        price         size
count  3411.000000  3411.000000  3411.000000
mean      2.733216    65.935561  1230.828496
std       0.704661    55.323471   558.039952
min       1.000000     1.000000    43.000000
25%       2.000000    46.600000   944.000000
50%       3.000000    57.800000  1150.000000
75%       3.000000    72.905000  1369.500000
max       9.000000  2000.000000  7800.000000

In [15]:
data['location'].unique()

array(['CHRISTIAN BASTI', 'LAL GANESH', 'BORAGAON', 'BAGHARBARI',
       'BELTOLA', 'AHOM GAON', 'BAMUNIMAIDAM', 'KAHILIPARA', 'SIX MILE',
       'REHABARI', 'LOKHRA', 'JYOTIKUCHI', 'SARANIA HILLS', 'GANESHGURI',
       'SACHAL PATH VIP ROAD BYLANE NUMBER 1', 'CHANDMARI', 'NOONMATI',
       'ULUBARI', 'DISPUR', 'SARUMOTORIA', 'SOUTH SARANIA ROAD',
       'DOWNTOWN', 'JATIA', 'ATHGAON', 'DHARAPUR', 'RADHA NAGAR',
       'BAMUNIMAIDAN', 'GHORAMARA', 'ZOO TINIALI', 'BORBARI',
       'KAHILIPARA ROAD', 'ZOO ROAD', 'AZARA', 'PATOR KUCHI', 'BASISTHA',
       'KALA PAHAR', 'LALMATI', 'RUKMINI GAON', 'MATHGHARIA', 'KHANAPARA',
       'BHANGAGARH', 'GEETANAGAR', 'SARUSAJAI', 'BHETAPARA', 'HATIGAON',
       'MALIGAON', 'LACHIT NAGAR', 'HENGRABARI', 'NAYANPUR',
       'NARENGI TINALI', 'SATGAON', 'JALUKBARI', 'BARSAPARA',
       'PANJABARI ROAD', 'ADABARI', 'GS ROAD', 'VIP ROAD', 'GARCHUK',
       'JAYANAGAR', 'KALYANI SAGAR PATH', 'DIGHALIPUKHURI', 'KERAKUCHI',
       'SAWKUCHI', 'ABC GALI', 'TARUN NAGAR', 'PANJABARI BUS STAND',
       'BEHARBARI CHARIALI', 'KAMAKHYA', 'UZAN BAZAR', 'CHACHAL ROAD',
       'BHETAPARA GHORAMARA ROAD', 'BETKUCHI', 'SIJUBARI', 'PANJABARI',
       'SOUTH SARANIA', 'RUPNAGAR', 'GUWAHATI', 'DHIRENPARA',
       'PALTAN BAZAAR', 'SURVEY', 'NALAPARA', 'LOKHRA ROAD', 'MANPARA',
       'SILPUKHURI', 'PANDU', 'SUNDARBARI', 'CHANDAN NAGAR', 'LANKESHWAR',
       'PATHAR QUARRY', 'KAHIKUCHI', 'KAHILPARA', 'NARIKAL BARI',
       'BIRUBARI', 'GANDHI BASTI', 'KHARGHULI HILLS', 'BASISHTA',
       'SARABBHATI', 'DWARAKA NAGAR', '9TH MILE', 'RAJGARH ROAD',
       'PRAGJYOTISH NAGAR', 'LAKHIMI NAGAR', 'AMBIKAGIRINAGAR', 'TETELIA',
       'BHARALUMUKH', 'PAN BAZAR', 'DATALPARA', 'ADAGUDAM', 'JAPORIGOG',
       'BORMOTORIA', 'KAMAKHYA NAGAR', 'GANESHPARA', 'JANAKPUR',
       'GOTANAGAR', 'SANTIPUR', 'KHANAMUKH', 'BAKARAPARA', 'ODALBAKRA',
       'NEW SARANIA', 'NAVAGRAHA ROAD', 'PANIKHAITI', 'BORSOJAI',
       'BHASKAR NAGAR', 'FATASIL AMBARI', 'BAISISTHA', 'ABC POINT',
       'DAKHINGAON', 'AMBARI', 'MALIGAON CHARIALI', 'JYOTI NAGAR',
       'KUMARPARA', 'BISHNUPUR', 'BARBARI VILLAGE', 'FATASIL HILLS',
       'DAKSHINGAON', 'BIKASH NAGAR', 'MILAN NAGAR', 'RBI COLONY',
       'BORJHAR', 'SONAIGHULI', 'SILPHUKURI', 'SREE NAGAR', 'CHENIKUTHI',
       'MACHKHOWA', 'DIGHOLI PUKHURI', 'BATAHGULI', 'MANIK NAGAR',
       'ANANDA NAGAR', 'NORTH GUWAHATI'], dtype=object)

In [16]:
data.describe()

               bhk        price         size
count  3411.000000  3411.000000  3411.000000
mean      2.733216    65.935561  1230.828496
std       0.704661    55.323471   558.039952
min       1.000000     1.000000    43.000000
25%       2.000000    46.600000   944.000000
50%       3.000000    57.800000  1150.000000
75%       3.000000    72.905000  1369.500000
max       9.000000  2000.000000  7800.000000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3411 entries, 0 to 3410
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bhk       3411 non-null   float64
 1   price     3411 non-null   float64
 2   size      3411 non-null   int64
 3   location  3411 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 106.7+ KB

In [18]:
location_counts=data['location'].value_counts()

In [19]:
location_count_less_10=location_counts[location_counts<=10]

In [20]:
data['location']=data.location.apply (lambda x : 'other' if x in location_count_less_10 else x)

In [21]:
# One-hot encode 'Geography'
from sklearn.preprocessing import  OneHotEncoder
onehot_encoder_location = OneHotEncoder(drop='first')
location_encoded = onehot_encoder_location.fit_transform(data[['location']]).toarray()
location_encoded_df = pd.DataFrame(location_encoded, columns=onehot_encoder_location.get_feature_names_out(['location']))
location_encoded_df.head()

,location_ADABARI,location_AHOM GAON,location_AZARA,location_BAGHARBARI,location_BAMUNIMAIDAM,location_BARSAPARA,location_BASISTHA,location_BELTOLA,location_BETKUCHI,location_BHANGAGARH,...,location_SATGAON,location_SIX MILE,location_SURVEY,location_TARUN NAGAR,location_ULUBARI,location_UZAN BAZAR,location_VIP ROAD,location_ZOO ROAD,location_ZOO TINIALI,location_other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
data = pd.concat([data.drop('location', axis=1), location_encoded_df], axis=1)
data.head()

,bhk,price,size,location_ADABARI,location_AHOM GAON,location_AZARA,location_BAGHARBARI,location_BAMUNIMAIDAM,location_BARSAPARA,location_BASISTHA,...,location_SATGAON,location_SIX MILE,location_SURVEY,location_TARUN NAGAR,location_ULUBARI,location_UZAN BAZAR,location_VIP ROAD,location_ZOO ROAD,location_ZOO TINIALI,location_other
0,3.0,45.00,1500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,78.79,1751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,31.50,750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2.0,50.00,1100,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,65.20,1630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Split the data into features and target
X=data.drop('price',axis=1)
y=data['price']

In [24]:
## Split the data in training and tetsing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [25]:
from sklearn.preprocessing import  StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [26]:
# Save the encoders and scaler for later use
import pickle

with open('onehot_encoder_location.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_location, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

### Model Tranning

In [27]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [28]:
##Create a Function to Evaluate Model
def model_evaluate(true,predicted): 
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_squre=r2_score(true,predicted)

    return mae,rmse,r2_squre

In [29]:
#begin model tranning 
models={
    'RandomForestRegressor':RandomForestRegressor(),
    'LinearRegression':LinearRegression(), 
    'KNeighborsRegressor':KNeighborsRegressor(), 
    'DecisionTreeRegressor':DecisionTreeRegressor(),
    'SVM':SVR(),
    'Grdiant Boost':GradientBoostingRegressor()
    
}
for i in range (len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)#Train Model

    #make prediction 
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2=model_evaluate(y_train,y_train_pred)
    model_test_mae , model_test_rmse, model_test_r2=model_evaluate(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('-----'*10)

    print('Model performance for Test set')
    print("- Root Mean Squared Error:",model_test_rmse)
    print("- Mean Absolute Error:",model_test_mae)
    print("- R2 Score: ",model_test_r2) 

    print('='*35)
    print('\n')

RandomForestRegressor
Model performance for Training set
- Root Mean Squared Error: 17.7299
- Mean Absolute Error: 4.8853
- R2 Score: 0.9044
--------------------------------------------------
Model performance for Test set
- Root Mean Squared Error: 31.47873784726795
- Mean Absolute Error: 10.540906189087352
- R2 Score:  0.5371398108616912
===================================


LinearRegression
Model performance for Training set
- Root Mean Squared Error: 44.5489
- Mean Absolute Error: 13.9512
- R2 Score: 0.3963
--------------------------------------------------
Model performance for Test set
- Root Mean Squared Error: 27.314795092058752
- Mean Absolute Error: 14.394104566144918
- R2 Score:  0.651493324977683
===================================


KNeighborsRegressor
Model performance for Training set
- Root Mean Squared Error: 41.3007
- Mean Absolute Error: 10.2545
- R2 Score: 0.4811
--------------------------------------------------
Model performance for Test set
- Root Mean Squared Error: 35.11701345614492
- Mean Absolute Error: 13.37541727672035
- R2 Score:  0.4239630332298464
===================================


DecisionTreeRegressor
Model performance for Training set
- Root Mean Squared Error: 3.9442
- Mean Absolute Error: 1.3332
- R2 Score: 0.9953
--------------------------------------------------
Model performance for Test set
- Root Mean Squared Error: 31.073728092237797
- Mean Absolute Error: 11.641244997559786
- R2 Score:  0.5489736354001266
===================================


SVM
Model performance for Training set
- Root Mean Squared Error: 53.8740
- Mean Absolute Error: 14.9877
- R2 Score: 0.1171
--------------------------------------------------
Model performance for Test set
- Root Mean Squared Error: 41.92130867926208
- Mean Absolute Error: 16.986434809710726
- R2 Score:  0.17911017912246763
===================================


Grdiant Boost
Model performance for Training set
- Root Mean Squared Error: 18.9749
- Mean Absolute Error: 9.8407
- R2 Score: 0.8905
--------------------------------------------------
Model performance for Test set
- Root Mean Squared Error: 42.60570165031588
- Mean Absolute Error: 12.419002294177972
- R2 Score:  0.15208825588765407
===================================

In [30]:
data.corr()

,bhk,price,size,location_ADABARI,location_AHOM GAON,location_AZARA,location_BAGHARBARI,location_BAMUNIMAIDAM,location_BARSAPARA,location_BASISTHA,...,location_SATGAON,location_SIX MILE,location_SURVEY,location_TARUN NAGAR,location_ULUBARI,location_UZAN BAZAR,location_VIP ROAD,location_ZOO ROAD,location_ZOO TINIALI,location_other
bhk,1.000000,0.430774,0.627246,-0.029853,-0.020604,-0.011637,-0.003742,0.049417,-0.029815,-0.015158,...,-0.000680,-0.010988,-0.015158,0.013023,-0.016459,0.003339,0.021161,0.020422,0.049825,0.024403
price,0.430774,1.000000,0.644310,-0.012907,-0.032629,-0.042524,-0.016804,0.004454,-0.028081,-0.014591,...,-0.020675,0.010487,-0.008272,0.034728,0.009566,0.019295,-0.002628,0.084101,0.056343,0.063904
size,0.627246,0.644310,1.000000,-0.030379,-0.014475,-0.027277,-0.021514,0.036932,-0.034195,-0.011326,...,-0.039220,0.029442,-0.034161,0.066050,0.005114,0.006593,-0.002111,0.023183,0.059610,0.032107
location_ADABARI,-0.029853,-0.012907,-0.030379,1.000000,-0.007627,-0.008973,-0.006506,-0.006975,-0.006001,-0.004143,...,-0.005868,-0.015730,-0.004143,-0.006259,-0.007308,-0.006745,-0.008326,-0.007199,-0.008132,-0.023556
location_AHOM GAON,-0.020604,-0.032629,-0.014475,-0.007627,1.000000,-0.012902,-0.009354,-0.010029,-0.008628,-0.005956,...,-0.008437,-0.022616,-0.005956,-0.008998,-0.010508,-0.009697,-0.011971,-0.010350,-0.011692,-0.033868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
location_UZAN BAZAR,0.003339,0.019295,0.006593,-0.006745,-0.009697,-0.011408,-0.008271,-0.008868,-0.007630,-0.005267,...,-0.007461,-0.019998,-0.005267,-0.007957,-0.009292,1.000000,-0.010586,-0.009152,-0.010339,-0.029948
location_VIP ROAD,0.021161,-0.002628,-0.002111,-0.008326,-0.011971,-0.014084,-0.010211,-0.010948,-0.009419,-0.006502,...,-0.009210,-0.024688,-0.006502,-0.009823,-0.011470,-0.010586,1.000000,-0.011299,-0.012764,-0.036972
location_ZOO ROAD,0.020422,0.084101,0.023183,-0.007199,-0.010350,-0.012177,-0.008829,-0.009466,-0.008144,-0.005622,...,-0.007963,-0.021346,-0.005622,-0.008493,-0.009917,-0.009152,-0.011299,1.000000,-0.011036,-0.031966
location_ZOO TINIALI,0.049825,0.056343,0.059610,-0.008132,-0.011692,-0.013756,-0.009973,-0.010693,-0.009200,-0.006351,...,-0.008996,-0.024113,-0.006351,-0.009594,-0.011203,-0.010339,-0.012764,-0.011036,1.000000,-0.036111
location_other,0.024403,0.063904,0.032107,-0.023556,-0.033868,-0.039845,-0.028889,-0.030973,-0.026647,-0.018396,...,-0.026058,-0.069846,-0.018396,-0.027790,-0.032452,-0.029948,-0.036972,-0.031966,-0.036111,1.000000

In [31]:
corr_bhk=data['bhk'].corr(data['price'])
print('Correlation between size and price of the house:',corr_bhk)

Correlation between size and price of the house: 0.430773956873426

In [32]:
corr_size=data['size'].corr(data['price'])
print('Correlation between size and price of the house:',corr_size)

Correlation between size and price of the house: 0.6443095538368909

In [33]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred=regression.predict(X_test)
y_pred

array([124.69887969,  69.50924517,  69.79352965,  37.75413383,
        46.3098264 ,  52.05120886,  93.06008385,  60.53465581,
        48.32991043,  35.98632186,  87.61363603,  80.69999756,
       128.82978131,  39.50320657,  58.83734002,  75.90196028,
       125.89163806,  39.05743299,  50.75673319,  65.99472878,
        73.2365815 ,  55.11978102, 253.33036371, 210.10816219,
        65.88988204,  78.42010727,  48.99269888,  44.53756311,
        78.27701108,  71.13261647,  32.60579234,  62.26260087,
        62.42663626,  61.04861722,  58.5312889 ,  68.15783515,
        70.5037578 ,  35.19870685, 103.132562  ,  44.27609887,
        38.89903128,  43.33682851,  66.23099567,  80.11058029,
       142.44074599,  75.96890358,  43.09006191,  86.32975037,
        58.57908972,  71.22217869,  63.89771121,  84.79675527,
       100.48718511, 117.80853907,  65.01803026,  62.36078035,
       125.04472991,  63.27783972,  96.35348362,  84.87134596,
        27.73437616,  83.67303624,  84.375876  ,  41.88419254,
        87.13549648,  34.06607649,  70.56860522,  67.73059431,
       150.00015291,  35.13113226,  66.88405421,  39.77414047,
        79.01299089,   5.06447884,  65.88652765,  66.97745341,
       165.05967602,  76.6367613 ,  70.21287504,  49.88202431,
        47.17993858,  41.12754304,  57.10147448, 104.76116957,
        27.84825239,  88.33148217,  43.01941207,  77.23817269,
       112.15843785,  73.99275205,  75.91377357,  96.28242732,
       101.27997671,  52.56079281, 117.74532084,  34.38428585,
       125.89163806,  51.52745238,  73.76720443,  59.8096497 ,
        38.00918612,  76.28147741,  51.61715674,  45.06204859,
        67.06338505, 100.2127862 ,  43.87925368,  72.66815051,
        44.27609887,  43.34565842,  50.40880397,  48.7224808 ,
        55.13521254,  68.54324178,  72.65291366,  64.77597752,
        41.92014022, 105.13877766,  28.98500229, 101.71241436,
        27.37867049,  57.11936283,  41.45972252, 128.61429342,
        70.04006738,  80.67306503,  52.59439277,  35.13113226,
        29.47723915,  90.69777592,  43.23491217,  71.15695761,
        65.37992026,  75.36404498,  92.57883301,  78.93332167,
        46.63195661,  56.10118808,  69.77341052,  48.07987297,
        56.97506412,  39.85616141,  53.4101018 ,  57.39870324,
        98.22039671,  51.73564927,  50.4050031 ,  75.90196028,
        84.14655891, 112.88112776,  48.59917908,  33.67364027,
        43.6391279 ,  62.78466146,  70.36629414,  63.5350519 ,
        69.95730303, 317.42616712, 337.85197991,  41.24280376,
        48.22195018,  65.0451989 ,  62.90196346,  65.0451989 ,
        90.14159513,  50.4050031 ,  60.49050249,   3.72343212,
        84.04130889, 135.43164669,  52.59439277,  49.19094483,
       137.032562  ,  37.93199892,  62.15431467,   9.76901813,
        69.97466478, 126.28480812, 125.17458808,  70.16317533,
        24.52348568,  64.9356911 ,  64.87395013,  79.46185951,
        74.72384797,  65.43126089,  83.01656371,  84.20492847,
        66.5092346 , 113.97551664,  43.6981047 ,  86.6967427 ,
        52.26010217,  48.36090776,   7.68532117, 114.6294468 ,
        46.73015248,  34.91383848,  17.82390078,  43.76207845,
        26.63417082,  66.85418157,  74.36008805,  48.53989072,
        28.2525644 ,  74.44353819,  35.64600184,  71.15592979,
        59.05339662,  73.39529881,  64.21454677,  43.6981047 ,
       101.4720873 ,  33.00486474, 195.96584757,  55.12475874,
        47.56126957,  82.97992564, 114.81196875, 133.35501006,
        86.16144441,  25.88600765, 126.28480812,  65.22709359,
       230.80576389,  90.51290965,  33.80528957,  58.14957557,
        13.51402371,  50.18925833,  42.2010062 ,  79.46185951,
        73.53302331,  82.75509215,  46.90534199,  91.3195319 ,
        77.07190647,  39.16771109,  64.63976902,  53.07508723,
        89.89801271,  33.79155958,  78.91066374,  33.73834627,
        78.21383158,  73.86929012,  71.22583462,  29.86878169,
        80.63623345, 115.86194142,  56.97312726,  58.83121257,
       169.56690332,  99.64712301,  71.67666553, 161.68758571,
        66.53647687,  74.77948041,  56.81766022,  56.27209812,
       171.34396321,  47.08085475,  37.73870232,  38.87126928,
       396.83872207,  56.07532926,  72.69865939,  68.81717479,
        64.87395013,  81.7995439 ,  36.16192786,  73.40888754,
        66.54730312,  73.85668555,  21.23280244,  49.00349109,
        76.03096498, 324.49688502,  66.72407747,  84.29053921,
        80.03012442,  67.48128353,  48.75831848,  56.63130893,
        54.02885525, 122.96963724,  43.27616634,  62.78236643,
        50.46639931,  43.05427404, 109.69200656,  70.58850038,
        39.99491269,  57.54635503,  65.66841433,  43.04921661,
        81.95980118,  81.89408385,  82.44969243,  95.34422296,
        65.34164071,  30.69879426,  64.11123118,  72.5748504 ,
        58.13478293,  12.02225553,  16.70073791,  73.7108884 ,
        66.99288493, 250.53063217,  37.22051408,  62.91743419,
       106.40919184,  65.85706262,  29.25413052,  85.12147433,
        23.83022821,  86.45096867,  42.83325262,  46.31007652,
        75.35251947,  74.77948041, 166.68009738,  66.99288493,
        34.01135468,  56.76928085, 133.99992067, 147.23804588,
        64.01303532,  87.842708  ,  25.88600765,  64.56101729,
        54.98428236,   0.8207552 ,  63.89771121,  31.52883133,
        72.61907918,  34.77428422,  28.09010633,  85.00012979,
        95.72111619,  63.16677575,  64.14599875,  15.92642798,
        53.30702204,  86.44330806,  81.89408385,  75.87070771,
        44.04828885,  46.19933027,  59.11636271,  55.25933529,
        28.33586408,   8.87111291, 101.39132159,  62.25867541,
        48.22195018,  43.76573438,  76.55813127,  34.87248009,
       101.6877634 ,  62.92210955,  52.43142388, 112.61869992,
        51.73253789,  52.73865789,  86.89032387,  82.42627761,
        36.42966324, 148.76966334,  37.12040994,  37.93199892,
        29.25087791,  84.14655891,  43.76573438,  47.19139009,
        33.66321236,  38.95276059,  30.5375934 ,  68.85064422,
        72.47366327,  27.02189552,  52.84604185,  51.24870804,
        59.96104585,  50.90853784,  49.62916797,  73.06654689,
        60.21388503,  74.24954108,  61.81467081,  66.97745341,
        33.13518762, 130.6797724 ,  48.01458168,  74.44353819,
       161.00077633,  80.68847205,  27.97346647,  40.7369705 ,
        58.18239499,  52.00578887,  74.94638487,  62.18118418,
        76.49744141,  44.8949863 ,  50.87182919,  55.25706013,
        66.77585308,  64.69560618,  47.60458172,  69.10758562,
        36.74150669,  86.56188478,  45.25195493,  20.32335542,
        57.93840528,  51.44502045,  28.41282168,  38.91032295,
        65.88988204,  49.31431961,  63.69511021,  42.73791747,
       107.13466721,  62.26563702,  86.56506965,  86.36184057,
        59.96104585,  33.603924  ,  64.56101729,  39.27149518,
       106.69905181,  58.4788368 ,  45.18359765,  82.42627761,
        96.84293822, 204.77888714,  37.99128728,  54.67895134,
        31.94025003,  55.76324846, 127.66567963,  74.06661857,
       120.85978223,  73.26380193,  48.75831848,  44.53756311,
        73.81104656,  78.44375364,  70.04006738,  83.01916123,
        71.59725053,  64.87395013,  47.68277777,  49.69457058,
        26.75274754,  76.49744141,  63.64956434,  64.70620246,
        87.99938363,  55.47772973,  12.95728489,  38.06016429,
       107.80172605, 116.9671312 ,  61.20887449,  72.38810137,
        79.46185951, 245.35700104,  58.70291766,  72.28240866,
        39.14013971,  51.02418893,  60.02310725,  33.603924  ,
       141.30920969,  22.32484608,  55.25933529,  36.64777655,
        44.95427467,  64.01303532,  76.0323503 ,  47.14517101,
       108.29518072,  65.28326844, 230.80576389,  27.2359577 ,
        41.96358303,  19.92497661,  35.90685118,  37.71150586,
        99.18062261,  69.91210637,  96.08803914,  39.32869588,
       151.43763963, 109.10604049,  58.68730119,  46.6380447 ,
        71.55355559,  81.84260977,  66.85017214,  61.47303985,
        61.16351742,  96.08803914,  73.77187979,  11.61654601,
        91.3195319 , 105.13877766, 132.65013651,  69.50924517,
        36.9104474 ,  68.009617  ,  34.85758389,  58.5923561 ,
        75.75596364,  55.25933529,  55.30262383,  22.48398548,
        64.09658511,  42.73855857,  85.62487682,  80.69999756,
        70.56860522,  41.56403523,  79.26717393,  88.35251629,
        84.79675527,  85.11414906,  77.30801511, 121.5565965 ,
        54.17247688,  46.28231452,  87.82322157,  44.29427222,
        49.28914069,  56.77115061, 106.32351708,  71.07443847,
        59.6214477 ,  24.22704387, 116.28952094,  52.12816646,
        35.99130403,  41.91717869,  71.79521775,  43.01941207,
        82.59458357,  60.75117307,  83.20208373,  36.0497387 ,
        77.21395918,  48.1298424 ,  30.7426756 ,  87.27334513,
        56.15194461,  82.42627761,  37.34870395,  57.18616914,
        26.30545255,  69.50924517,  33.13518762,  45.16431393,
        82.15705623, 183.33509919,  73.33071224,  78.52789179,
        47.55916173,  49.31277417,  88.35251629,  46.70214327,
        47.89241923,  70.96520518,   8.03173241,  69.95730303,
       102.24323658,  61.55224297,  55.25933529,  88.29557532,
       105.08226235,  58.23662593,  54.82233688,  65.63050284,
        73.57389311,  81.89408385,  62.3240717 , 154.88572485,
        73.20273142, 326.30807631,  51.44502045,  46.78841302,
        64.69905738,  24.79010416,  23.66975272,  55.21797689,
        61.59401966,  80.88983762, 150.20246398,  62.31496192,
        71.00615482,  66.82384976,  64.56101729, 106.91185137,
        60.97771675,  33.73110502,  89.13369298,  41.89386538,
        49.33049909,  86.22230626, 108.6841044 ,  35.19870685,
        44.25240297,  83.01360218,  55.35223935,  90.26017186,
        57.39840171,  75.27782409,  80.63623345,  80.12186196,
        74.72384797,  55.43165435,  35.56385295,  41.1835154 ,
        50.88882403,  82.42522079,  79.46185951,  80.5949547 ,
        56.30264105,  43.26210863,  56.15194461, 113.61701342,
        56.93228196, 137.81259783,  65.66841433,  72.10191547,
        51.94222079,  72.58598301,  46.46498983,  36.12030873,
       115.77711513,  86.96862645,  71.28789603,  74.71619304,
        57.79273503,  70.98184491,   9.08858601,  50.46639931,
        76.5617872 , 101.4720873 ,  75.378793  ,  22.21096985,
        40.60956386,  38.94948972,  51.53444351,  51.12095018,
        52.83417818,  45.32291753,  61.79898507,  74.42630373,
        59.11636271, 110.35249759,  34.3746727 ,  65.22709359,
        30.96360655,  43.6981047 ,  74.03885657,  35.99390154,
        26.25243683,  58.36026007,  37.93199892,  47.60486136,
        34.52090827,  40.97306713,  51.28732659, 148.73767405,
        80.72116062,  42.75252469,  66.13119385,  48.36202563,
        75.88997963,  93.99153779, 159.28141383])

In [35]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
print("R2_score is :",r2_score(y_test,y_pred))
print('MAE :',mean_absolute_error(y_test,y_pred))
print('MSE:',mean_squared_error(y_test,y_pred))

R2_score is : 0.651493324977683
MAE : 14.394104566144918
MSE: 746.0980309211569

In [36]:
with open('regression_model.pkl', 'wb') as file:
    pickle.dump(regression, file)